* {
    padding: 0;
    margin: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.slidebar {
    text-align: center;
    width: 60px;
    height: 100vh;
    background-color: #f8f6f6;
}

body {
    background-color: black;
}

.sectionone {
    display: flex;
    left: -250px;
    z-index: 999999;
    position: fixed;
}

#btnclose {
    display: none;
}

.logos {
    padding: 25px 0;
}

.fas,
.fab {
    font-size: 24px!important;
    cursor: pointer;
}

.logos img {
    height: 48px;
    vertical-align: middle;
    border-style: none;
    margin: auto;
}

.menu {
    width: 250px;
    height: 100vh;
    background-color: black;
}

.item1 {
    opacity: 1;
    padding-top: 20px;
}

ul {
    list-style-type: none;
}

.menu a {
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 70px;
    cursor: pointer;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

.menu a:hover {
    color: red;
}

.undercontent {
    color: white;
}

.second {
    /* background-color: gray; */
    height: 96px;
    margin: auto;
}

.searchinput {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    font-size: 19px;
}

.second input {
    text-align: center;
    border-radius: 0px !important;
    background-color: black !important;
}

.search1 {
    box-sizing: border-box;
    padding: 5px;
}

.myForm input {
    text-align: center;
    border-radius: 0px !important;
    background-color: black !important;
    border: none;
    border-bottom: 1px solid white;
    font-weight: 800;
}